extends base.pug

block content 
    form(method="POST")
        input(type="text" name="name" placeholder="username")
        input(type="text" name="password" placeholder="password")
        input(type="submit" value="Login")